<div id="<%= dom_id book %>">
  <p class="my-5 italic font-bold text-3xl">
    <%= book.title %>
  </p>

  <p class="my-5">
    By <%= book.author %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Publication year:</strong>
    <%= book.publication_year %>
  </p>

</div>
